@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comforter&family=Dawning+of+a+New+Day&family=Gloria+Hallelujah&family=Gochi+Hand&family=Handlee&family=Itim&family=Nanum+Brush+Script&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Cedarville+Cursive&family=Comforter&family=Dawning+of+a+New+Day&family=Gloria+Hallelujah&family=Gochi+Hand&family=Handlee&family=Itim&family=Nanum+Brush+Script&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Klee+One&display=swap');



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
    
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding-bottom: 50px;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav .container .logo{
  font-family: 'Atma', cursive;
  font-size: 40px;
  font-weight: 5px;

}


.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}


.down-button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  .down-button:hover {
    color: #222;
  }
  
  .down-button:focus {
    outline: none;
  }

  .up-button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  .up-button:hover {
    color: #222;
  }
  
  .up-button:focus {
    outline: none;
  }





.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }
  
  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
 
  
  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }





.hero {
  background-image: url('file:///C:/Users/dell/Desktop/college/pics/p20.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: rgb(255, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;

}




.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 50px;
  margin: -20px 0 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: lighter;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Klee One', cursive;
}

.content h2,
.content h3 {
    
  font-size: 150%;
  margin: 20px 0;
}

.content p {
    
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}





.glow {
    background-color: rgb(30, 35, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    position:relative;
    top:20px;
    margin: 0 auto;
  }
  
  .square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px rgb(64, 162, 103);
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
  }
  
  .square:hover {
    transition-duration: 0s;
  }


 

  .ripple {
    background-color: purple;
    color: #fff;
    border: 1px purple solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    top:50px;
    position: relative;
    margin: 0 auto;
  }
  
  .ripple:focus {
    outline: none;
  }
  
 .ripple.circle{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }

  
  
  @keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }